<h1>Welcome, <%=@user.username%></h1>

<h3>Would you like to <a href="/tweets/new">create your own Tweet?</a></h3>

<br></br>
<h2>Here are all the tweets EVER CREATED</h2>

<%Tweet.all.each do |tweet|%>
  <p><a href="/tweets/<%=tweet.id%>"><%=tweet.content%> -(<%=tweet.user.username%>)</a></p>
<%end%>
