<h1>Welcome to Fwitter</h1>

<h3><a href='/signup'>Sign up for a new account!</a></h3>

<h2>or...</h2>

<h3><a href='/login'>Log in!</a></h3>

<br></br>
<h2>Already logged in?</h2>
<h3><a href='/tweets'>Get fweeting!</a></h3>
